<%- include('menu'); -%>

<h1 class="home-title">This is Home Page</h1>
<p class="home-bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore quia nesciunt earum molestias distinctio sequi! Rem pariatur nesciunt deserunt magni quos adipisci provident, ut doloremque recusandae, quaerat cum, consequatur distinctio eius eaque quam ab nihil asperiores aperiam excepturi accusamus. Voluptas voluptatum tenetur molestiae dolor nesciunt ad quae, ea quaerat? Mollitia.</p>


<%- include('footer'); -%>
